$mobileBreakpoint: 0px 768px;

.engagehub {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}

.engagehub {
  .engagehub-tile--text {
    @media screen and (max-width: 480px) {
      font-size: 8px;
    }
    @media screen and (max-width: 550px) and (min-width: 481px) {
      font-size: 10px;
    }
    @media screen and (max-width: 750px) and (min-width: 660px) {
      font-size: 10px;
    }
  }
}

.engagehub .engagehub-iframe .engagehub-tile--social,
.engagehub .engagehub-stream .engagehub-tile--social {
    @media screen and (max-width: 480px) {
      width: 25px;
      height: 30px;
      line-height: 30px;
    }
    @media screen and (max-width: 550px) and (min-width: 481px) {
      width: 30px;
      height: 37px;
      line-height: 37px;
    }
    @media screen and (max-width: 750px) and (min-width: 660px) {
      width: 30px;
      height: 37px;
      line-height: 37px;
    }
  }

.engagehub .engagehub-iframe .engagehub-tile--signature-avatar img,
.engagehub .engagehub-stream .engagehub-tile--signature-avatar img {
  @media screen and (max-width: 480px) {
    width: 33px;
    height: 33px;
  }
  @media screen and (max-width: 550px) and (min-width: 481px) {
    width: 37px;
    height: 37px;
  }
  @media screen and (max-width: 750px) and (min-width: 660px) {
    width: 37px;
    height: 37px;
  }
}


.engagehub .engagehub-iframe .engagehub-tile--signature-avatar .time,
.engagehub .engagehub-stream .engagehub-tile--signature-avatar .time {
  @media screen and (max-width: 480px) {
    padding-left: 43px;
    font-size: 10px;
  }
  @media screen and (max-width: 550px) and (min-width: 481px) {
    padding-left: 47px;
    font-size: 11px;
  }
  @media screen and (max-width: 750px) and (min-width: 660px) {
    padding-left: 47px;
    font-size: 11px;
  }
}

.engagehub .engagehub-stream .engagehub-tile--signature-avatar .name,
.engagehub .engagehub-iframe .engagehub-tile--signature-avatar .name{
  @media screen and (max-width: 440px) {
    padding-left: 43px;
    font-size: 12px;
  }
  @media screen and (max-width: 480px) and (min-width: 441px) {
    padding-left: 43px;
    font-size: 13px;
  }
  @media screen and (max-width: 550px) and (min-width: 481px) {
    padding-left: 47px;
    font-size: 14px;
  }
  @media screen and (max-width: 750px) and (min-width: 660px) {
    padding-left: 47px;
    font-size: 14px;
  }
}

.engagehub-stream, .engagehub-iframe {
  $paddingLg: 42px;
  $paddingMd: 6px;
  $playIconSize: 60px;
  $actionIconSize: 45px;
  $actionMiniIconSize: $actionIconSize * .5;

  $fa-twitter: #55acee !global !default;
  $fa-facebook: #3b5998 !global !default;
  $fa-instagram: #3f729b !global !default;

  $color-approve: #84e47a;
  $color-decline: #eb4e4e;

  $tileMinWidth: 330px;

  .engagehub-tile {

    @include breakpoint($tileMinWidth * 2) {
      width: (100% / 3);
      &.featured { width: (100% / 1.5); }
    }

    @include breakpoint($tileMinWidth * 3) {
      width: (100% / 4);
      &.featured { width: (100% / 2); }
    }

    @include breakpoint($tileMinWidth * 4) {
      width: (100% / 5);
      &.featured { width: (100% / 2.5); }
    }

    @include breakpoint($tileMinWidth * 5) {
      width: (100% / 6);
      &.featured { width: (100% / 3); }
    }

    float: left;
    position: relative;
    width: 50%;
    padding: 3.5px;
    margin: 0;
    cursor: pointer;
    background-color: transparent;

    @include transition(opacity .2s ease);

    .ng-preloader-loading-spinner {
      height: 25px !important;
    }

    figure {
      background: #f6f6f6;
      border-bottom-width: 0;
      overflow: hidden;
    }

    // default = type-text
    &--social {
      $h: 44px;
      $w: 35px;

      position: absolute;
      width: $w;
      height: $h;
      line-height: $h;
      font-size: 18px;
      text-align: center;
      top: -10px;
      right: 10px;
      z-index: 1;

      &-twitter { background-color: $fa-twitter; }
      &-facebook { background-color: $fa-facebook; }
      &-instagram { background-color: $fa-instagram; }

      i { color: #fff; }
    }

    &--image {
      position: relative;
      min-height: $playIconSize;
      z-index: 1;

      img {
        height: auto;
        width: 100%;
      }

      .play {
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        width: $playIconSize;
        height: $playIconSize;
        margin-top: $playIconSize / -2;
        margin-left: $playIconSize / -2;
        z-index: 2;
        border: 2px solid #fff;
        text-align: center;
        border-radius: 50%;

        i {
          line-height: .9;
          margin-left: 5px;
        }
      }
    }

    &--text {
      min-height: 200px;
      position: relative;
      width: 100%;
      word-wrap: break-word;
      line-height: 1.15;
      display: table;

      >* {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        color: #fff;

        >* {
          padding: $paddingLg 0;
          width: calc(100% - #{$paddingLg * 2});
          margin: 0 auto;
        }
      }

      &.twitter { background-color: $fa-twitter; }
      &.facebook { background-color: $fa-facebook; }
      &.instagram { background-color: $fa-instagram; }
    }
    &--signature-empty {
      min-height: 0px !important;
      padding: 0px !important;
    }
    &--signature {
      padding: $paddingMd * 2;
      position: relative;
      min-height: 35px;

      &-avatar {
        position: relative;
        min-height: 43px;
        padding-top: 5px;

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 43px;
          height: 43px;
          border-radius: 100%;
        }
        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          line-height: 1;
          margin-top: 0;
          margin-bottom: 6px;
        }
        .name, .time {
          padding-left: 53px;
          font-size: 15px;
        }
        .time {
          font-size: 12px;
          margin-bottom: 0;
          overflow: visible;
        }
      }
      &-caption {
        font-size: 12px;
        line-height: 1.4em;
        word-wrap: break-word;
        padding-top: $paddingMd * 2;
        padding-right: 33px;
        a {
          color: rgb(128, 128, 128);
          text-decoration: underline;
        }
      }
    }

    &--overflow {
      display: none;
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      z-index: 2;
      background-color: rgba(0, 0, 0, .45);
      cursor: pointer;
      overflow: hidden;

      .details {
        position: absolute;
        display: block;
        width: 100%;
        top: 50%;
        margin-top: $actionIconSize * -.5;

        .action-icon {
          color: #ddd;
          opacity: .7;
          font-size: $actionIconSize;
          line-height: 1;
          display: inline-block;
          text-align: center;
          margin: 0;
          vertical-align: middle;

          & i {
            margin-bottom: 2px;
            display: block;
          }

          &, & span { @include transition(opacity .3s ease); }

          // Dirty FA fonts overwrite
          &.icon-approve, &.icon-decline {
            font-size: $actionIconSize * 1.111;
          }
          &.icon-approve { color: $color-approve; }
          &.icon-decline { color: $color-decline; }

          span {
            display: block;
            font-size: 12px;
            opacity: 0;
            position: relative;
            vertical-align: top;
            @include transform(none);
          }

          &:hover, &:hover span { opacity: 1; }
        }
      }

      &-mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
      }

      .btn-group-mini {
        font-size: $actionMiniIconSize;
        line-height: 1;
        height: $actionMiniIconSize;
        position: absolute;
        top: 10px;
        right: 10px;
        overflow: hidden;

        .icon-mini {
          color: #eee;
          opacity: 0;
          display: inline-block;
          margin: 0 2px;

          @include transform(translateY($actionMiniIconSize * -1));
          @include transition(transform .5s ease, opacity .5s ease, color .3s ease);

          &:hover { color: #fff; }
        }
        .trigger {
          opacity: .7!important;

          @include transform(none);
        }

        &:hover, .active {
          .icon-mini {
            opacity: 1;

            @include transform(translateY(0));
          }
          .trigger { @include transform(rotate(-180deg)); }
        }
      }
    }

    &.no-image {
      .engagehub-tile--text { display: table; }

      .engagehub-tile--social {
        background-color: #fff;

        &-twitter i { color: $fa-twitter; }
        &-facebook i { color: $fa-facebook; }
        &-instagram i { color: $fa-instagram; }
      }
    }

    &:hover .engagehub-tile--overflow{ display: block; }

    &.pinned .icon-pinned, &.commerce .icon-commerce {
      opacity: 1;

      @include transform(translateY(0));
    }
  }

  .approvedStatus {
    height: 2px;
    width: 100%;
  }
}

.showApproved .approvedStatus { display: block; }

.engagehub-stream-wrapper {
  width: 100%;
  position: relative;

  .engagehub-stream {
    position: relative;
  }
}

.engagehub-iframe {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  justify-content:center;

  &.ng-enter, &.ng-leave {
    transition: opacity .3s;
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &--navigation {
    position: absolute;
    right: 0;
    max-width: 550px;
    z-index: 115;
    @include breakpoint($mediumBreakpoint) {
      z-index: 110;
    }
    .fa-stack-2x {
      font-size: 1.7em;
    }
    .fa-stack {
      height: 1.7em;
      line-height: 1.7em;
    }
  }
  &--close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 60px;
    color: grey;
    opacity: .5;
    @include transition(opacity .3s ease);

    &:hover, &:focus {
      opacity: 1;
    }
  }
  &--wrapper {
    overflow-y: auto;
  }
  &--fullimage {
    img {
      float: left;
      width: calc(100% - 300px);
      @include breakpoint($mobileBreakpoint) {
        float: none;
        width: 100%;
      }
    }
  }
  &--content {
    max-width: 90%;
    width: 900px;
    margin: 2% auto;
    background-color: #fff;
    position: relative;

    @include breakpoint($mobileBreakpoint) {
      width: 400px;
    }
  }

  .engagehub-tile--text {
    float: left;
    width: calc(100% - 300px);
    @include breakpoint($mobileBreakpoint) {
      width: 100%;
      float: none;
    }
  }

  &--signature {
    padding: 12px;
  }

  &--side-content {
    width: 300px;
    float: right;

    .engagehub-tile--signature {
      height: 100%;
      max-height:calc(100% - 65px);
      position: absolute;
      width: 300px;
      overflow: auto;

      @include breakpoint($mobileBreakpoint) {
        position: relative;
        height: auto;
        max-height: none;
        width: 100%;
      }
    }

    a + .engagehub-tile--signature {
      max-height: calc(100% - 114px);
    }

    @include breakpoint($mobileBreakpoint) {
      float: none;
      width: 100%;
    }
  }
}

.engagehub-commerce {
  z-index: 6;
  position: relative;
  display: block;
  background-color: rgb(220, 220, 220);
  color: rgb(33, 33, 33);
  text-align: center;
  font-weight: 600;
  padding: .8em .2em;
  margin: 8px auto;
  cursor: pointer;

  &.engagehub-commerce-iframe {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.engagehub-load-posts-wrapper {
  margin: 0;
  text-align: center;
  padding: 1em;

  .engagehub-load-posts {
    text-align: center;
    padding: .5em;
    border: none;
  }
}

// Hide optional elements
.engagehub-tile {
  .approvedStatus,
  &:after,
  &:before,
  .engagehub-tile--overflow > .details {
    display: none!important;
  }

  &:hover .engagehub-tile--overflow {
    opacity: 0!important;
  }
}
.engagehub-admin .engagehub-tile {
  .approvedStatus,
  &:after,
  &:before,
  .engagehub-tile--overflow > .details {
    display: block!important;
  }

  &:hover .engagehub-tile--overflow {
    opacity: 1!important;
  }
}


.branding-box {
  height: 40px;
}

.engagehub-admin .branding-box {
  height: 0px;
}
