<div class="md-modal colored-header md-effect-1 add-new-tag-modal" ng-class="{'md-show':show}" >
  <div class="md-content">
    <div class="modal-header">
      <h3>Add new connection</h3>
      <button type="button" class="close md-close" ng-click="close()" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body form">

      <form name="newTag">
        <label>Choose social network You wish to add:</label>
        <div class="text-center">
          <button ng-click="newTag.type = 'fb'" type="button" class="btn btn-lg btn-default btn-facebook bg"
                   data-ng-class="{active: newTag.type === 'fb'}" data-ng-disabled="locked">
            <i class="fa fa-2x fa-facebook"></i>
          </button>
          <button ng-click="newTag.type = 'instagram'" type="button" class="btn btn-lg btn-default btn-instagram bg"
                   data-ng-class="{active: newTag.type === 'instagram'}" data-ng-disabled="locked">
            <i class="fa fa-2x fa-instagram"></i>
          </button>
          <button ng-click="newTag.type = 'twitter'" type="button" class="btn btn-lg btn-default btn-twitter bg"
                  data-ng-class="{active: newTag.type === 'twitter'}" data-ng-disabled="locked">
            <i class="fa fa-2x fa-twitter"></i>
          </button>
        </div>

        <div class="" data-ng-if="newTag.type === 'fb' && !auth.currentUser.access_tokens.facebook">
          <label>To add facebook you need to link your facebook account with 4screen</label>
          <div class="text-center">
            <button ng-click="link('fb')" class="btn btn-lg btn-default" data-ng-disabled="locked">
              <i class="fa fa-2x fa-facebook"></i> Link
            </button>
          </div>
        </div>

        <div class="" data-ng-if="newTag.type === 'fb' && auth.currentUser.access_tokens.facebook">
          <label>Wich page you are interested in:</label>
          <div class="text-center">
            <!--<button ng-click="link('fb')" class="btn btn-lg btn-default">
              <i class="fa fa-2x fa-facebook"></i> Link
            </button>-->
            <div class="input-group input-group-lg">
              <span class="input-group-addon">facebook.com/</span>
              <input type="text" data-ng-required="{{newTag.type === 'fb'}}" class="form-control"
                     placeholder="PageOnFacebook" data-ng-pattern="/^\s*\w*\s*$/"
                     data-ng-disabled="locked" data-ng-model="newTag.keyword">
            </div>
          </div>
        </div>

        <div class="" data-ng-if="newTag.type === 'instagram' && !auth.currentUser.access_tokens.instagram">
          <label>To add instagram tag you need to link your instagram account with 4screens</label>
          <div class="text-center">
            <button ng-click="link('instagram')" class="btn btn-lg btn-default" data-ng-disabled="locked">
              <i class="fa fa-2x fa-instagram"></i> Link
            </button>
          </div>
        </div>

        <div class="" data-ng-if="newTag.type === 'instagram' && auth.currentUser.access_tokens.instagram">
          <label>Enter tag:</label>
          <div class="text-center">
            <!--<button ng-click="link('fb')" class="btn btn-lg btn-default">
              <i class="fa fa-2x fa-facebook"></i> Link
            </button>-->
            <div class="input-group input-group-lg">
              <span class="input-group-addon">#</span>
              <input type="text" data-ng-required="{{newTag.type === 'instagram'}}"
                     data-ng-minlength="4" data-ng-disabled="locked"
                     class="form-control" placeholder="tag" data-ng-model="newTag.keyword">
            </div>
          </div>
        </div>

        <div class="" data-ng-if="newTag.type === 'twitter' && !auth.currentUser.access_tokens.twitter">
          <label>To add twitter tag you need to link your twitter account with 4screens</label>
          <div class="text-center">
            <button ng-click="link('twitter')" class="btn btn-lg btn-default" data-ng-disabled="locked">
              <i class="fa fa-2x fa-twitter"></i> Link
            </button>
          </div>
        </div>

        <div class="" data-ng-if="newTag.type === 'twitter' && auth.currentUser.access_tokens.twitter">
          <label>Enter tag:</label>
          <div class="text-center">
            <!--<button ng-click="link('fb')" class="btn btn-lg btn-default">
              <i class="fa fa-2x fa-facebook"></i> Link
            </button>-->
            <div class="input-group input-group-lg">
              <span class="input-group-addon">#</span>
              <input type="text" data-ng-required="{{newTag.type === 'twitter'}}"
                     data-ng-minlength="4" data-ng-disabled="locked"
                     class="form-control" placeholder="tag" data-ng-model="newTag.keyword">
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="modal-footer">
      <button type="button" ng-click="close(false)" class="btn btn-default btn-flat md-close" data-dismiss="modal"
        >Cancel</button>
      <button type="button" ng-click="add()" data-ng-disabled="!newTag.$valid || locked" class="btn btn-primary btn-flat md-close">Proceed</button>
    </div>
  </div>
</div>
<div class="md-overlay" ng-click="close(false)"></div>
