<!-- Stream -->
<div class="engagehub-isotope engagehub-stream showApproved engagehub-background-color"
     ng-style="{ 'background-color': sh.config.theme.backgroundColor }">
  <article
    class="engagehub-tile engagehub-isotope-tile"
    ng-repeat="post in results.posts | orderBy: ['-pinned', '-post.created']"
    ng-class="{
      featured: post.featured,
      'not-featured': !post.featured,
      'filter-active': keywordFilter.indexOf(post._keyword) !== -1 && keywordFilter.length,
      'filter-inactive': keywordFilter.indexOf(post._keyword) === -1 && keywordFilter.length,
      'no-image': !hasImage(post.post),
      pinned: post.pinned === 2,
      commerceUrl: post.commerceUrl
    }"
  >
    <figure ng-style="{
        'font-family': sh.config.theme.descriptionFont,
        'background-color': sh.config.theme.cardBackgroundColor
      }" class="engagehub-description-font-family engagehub-description-font-family">
      <!-- FIXME: Make me a directive, get rid off mansory class names since we use isotope .. also @core css generation -->
      <div class="engagehub-tile--image" data-ng-show="hasImage(post.post)">
        <div>
          <img alt=""
               data-ng-src="{{ hasImage(post.post, 'large') }}"
               data-ng-class="ratio( post.post.image.medium.width, post.post.image.medium.height )"
          />
    <span class="play" data-ng-if="post.post.type === 'video' || post.post.type === 'stream'">
      <i class="fa fa-angle-right fa-5x fa-inverse"></i>
    </span>
        </div>
      </div>

      <div class="engagehub-tile--text {{ post.source.channel }}" data-ng-show="!hasImage(post.post)">
        <div>
          <div data-ng-style="{'font-size': getFontSize(post.post.headline || post.post.message)}">{{ post.post.headline
            || post.post.message | excerpt }}
          </div>
        </div>
      </div>

      <figcaption class="engagehub-tile--signature">
        <div class="engagehub-tile--social" data-ng-class="'engagehub-tile--social-'+ post.source.channel">
          <i class="fa" data-ng-class="'fa-'+ post.source.channel"></i>
        </div>
        <div class="engagehub-tile--signature-avatar">
          <img data-ng-src="{{ 'http://graph.facebook.com/' + post.post.author.id + '/picture' }}"
               alt="{{ post.post.author.name }}"/>
          <span class="name"
            ng-style="{
              'font-family': sh.config.theme.authorFont,
              'color': sh.config.theme.authorColor
            }"
              ng-bind-html="post.post.author.name"
              class="engagehub-author-font-family engagehub-author-color"
          ></span>
          <span class="time" am-time-ago="(post.post.created * 1000)"></span>
        </div>
        <p class="engagehub-tile--signature-caption engagehub-description-color"
           data-ng-show="hasImage(post.post)"
           data-ng-style="{ color: sh.config.theme.descriptionColor }"
        >{{ post.post.headline || post.post.message | excerpt }}</p>
      </figcaption>
    </figure>
    <div class="approvedStatus"
         data-ng-class="{
        'btn-success': post.approved === 2,
        'btn-danger': post.approved !== 2
      }"
    ></div>

    <div class="engagehub-tile--overflow" data-ng-class="{approved: post.approved, 'not-approved': !post.approved}">
      <div class="engagehub-tile--overflow-mask" data-ng-click="openModal(post)"></div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-transparent" data-ng-click="pinPost(post)">
            <i class="fa fa-thumb-tack pin-icon"></i>
          </button>
          <button type="button" class="btn btn-default btn-transparent" data-ng-click="approvePost(post)">
            <i class="fa" data-ng-class="post.approved === 2 ? 'fa-times' : 'fa-check'"></i>
          </button>
          <button type="button" class="btn btn-default btn-transparent" data-ng-click="featurePost(post)">
            <i class="fa" data-ng-class="post.featured ? 'fa-star' : 'fa-star-o'"></i>
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-transparent" data-ng-click="openModal(post)">
            <i class="fa fa-search"></i>
          </button>
          <button type="button" class="btn btn-default btn-transparent" data-ng-click="remove(post)">
            <i class="fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-default btn-transparent" data-ng-click="addCommerceUrlModal(post)">
            <i class="fa" data-ng-class="{'fa-tag': !post.commerceUrl, 'fa-tags': post.commerceUrl }"></i>
          </button>
        </div>
      </div>
    </div>

  </article>
</div>
<!--/Stream -->

<!-- Loader -->
<div class="engagehub-preloader text-center engagehub-background-color" data-ng-if="!complete.value"
     ng-style="{ 'background-color': sh.config.theme.backgroundColor }">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<!--/Loader -->
