<!-- Stream -->
<div class="engagehub-isotope engagehub-stream showApproved" ng-style="{ 'background-color': sh.config.theme.backgroundColor }">
  <article class="engagehub-tile engagehub-isotope-tile"
    ng-repeat="post in results.posts track by post.id"
    ng-class="{
      featured: post.featured,
      'not-featured': !post.featured,
      'no-image': !hasImage(post.post),
      'filter-active': keywordFilter.indexOf(post._keyword) !== -1 && keywordFilter.length,
      'filter-inactive': keywordFilter.indexOf(post._keyword) === -1 && keywordFilter.length
    }"
  >
    <figure data-ng-include="'scripts/engagehub/views/tile.html'"
      ng-style="{
        'font-family': sh.config.theme.descriptionFont,
        'background-color': sh.config.theme.cardBackgroundColor
      }"
    ></figure>
    <div class="approvedStatus"
      data-ng-class="{
        'btn-success': post.approved,
        'btn-danger': !post.approved
      }"
    ></div>

    <div class="engagehub-tile--overflow" data-ng-class="{approved: post.approved, 'not-approved': !post.approved}">
      <div class="engagehub-tile--overflow-mask" data-ng-click="openSocial(post)"></div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-transparent" data-ng-click="approvePost(post)">
          <i class="fa" data-ng-class="post.approved ? 'fa-times' : 'fa-check'"></i>
        </button>
        <button type="button" class="btn btn-default btn-transparent" data-ng-click="featurePost(post)">
          <i class="fa" data-ng-class="post.featured ? 'fa-star' : 'fa-star-o'"></i>
        </button>
        <button type="button" class="btn btn-default btn-transparent" data-ng-click="openSocial(post)">
          <i class="fa fa-search"></i>
        </button>
        <button type="button" class="btn btn-default btn-transparent" data-ng-click="remove(post)">
          <i class="fa fa-trash"></i>
        </button>
        <button type="button" class="btn btn-default btn-transparent" data-ng-click="addCommerceUrlModal(post)">
          <i class="fa" data-ng-class="{'fa-tag': !post.commerceUrl, 'fa-tags': post.commerceUrl }"></i>
        </button>
      </div>
    </div>

  </article>
</div>
<!--/Stream -->

<!-- Loader -->
<div class="engagehub-preloader text-center" data-ng-if="!complete.value" ng-style="{ 'background-color': sh.config.theme.backgroundColor }">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<!--/Loader -->
