<section class="keywords">
  <h3>Keywords</h3>
  <!-- FAKES -->
  <div class="btn-group keyword">
    <span class="btn btn-sm btn-default btn-facebook bg keyword-icons">
      <i class="fa fa-facebook keyword-channel"></i>
      <i class="fa fa-remove keyword-remove"></i>
    </span>
    <span class="btn btn-sm btn-default btn-facebook bg keyword-value">Fake keyword</span>
  </div>

  <div class="btn-group keyword">
    <span class="btn btn-sm btn-default btn-facebook bg keyword-icons">
      <i class="fa fa-facebook keyword-channel"></i>
      <i class="fa fa-remove keyword-remove"></i>
    </span>
    <span class="btn btn-sm btn-default btn-facebook bg keyword-value">Fake keyword</span>
    <span class="keyword-status" data-status="Ups, something aint working :(">
      <i class="fa fa-exclamation-circle text-danger"></i>
    </span>
  </div>
  <!--/FAKES -->

  <div class="btn-group keyword" data-ng-repeat="keyword in socialhub.data.selected.data.keywords" data-ng-confirm="removeKeyword(keyword)" data-ng-confirm-message="Are you sure you want to delete &quot;{{ keyword.value }}&quot; ?" >
    <span class="btn btn-sm btn-default btn-{{ keyword.channel }} bg keyword-icons">
      <i class="fa fa-{{ keyword.channel }} keyword-channel"></i>
      <i class="fa fa-remove keyword-remove"></i>
    </span>
    <span class="btn btn-sm btn-default btn-{{ keyword.channel }} bg keyword-value">{{ keyword.value }}</span>
    <span class="keyword-status" data-status="???" data-ng-if="false">
      <i class="fa fa-exclamation-circle text-danger"></i>
    </span>
  </div>
  <!-- Add new -->
  <div class="btn-group keyword add" data-ng-click="createNewTag(socialhub)">
    <span class="btn btn-sm btn-success bg">
      <i class="fa fa-plus"></i>
    </span>
    <span class="btn btn-sm btn-success bg">Add new keyword</span>
  </div>
</section>