<div class="masonry__iframe" data-ng-if="!!detail">
  <div class="masonry__iframe--navigation">
    <a href="" data-ng-click="closeSocial()" class="masonry__iframe--close">
      <span class="fa-stack fa-lg fa-stack-2x">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-times fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <div class="masonry__iframe--wrapper">
    <div class="masonry__iframe--content">
      <div class="masonry__tile--image" data-ng-if="detail.image">
        <img data-ng-src="{{ detail.image }}" alt="" />
        <span class="fa-stack fa-lg" data-ng-if="!!detail.video">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-play fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <figcaption class="masonry__tile--signature">
        <div class="masonry__tile--signature-avatar">
          <img data-ng-src="{{ detail.user.avatar }}" alt="" />
          <span class="name" ng-bind-html="detail.user.name"></span>
          <span class="time" am-time-ago="detail.publish"></span>
        </div>
        <p class="masonry__tile--signature-caption" ng-bind-html="detail.message | emoji"></p>
      </figcaption>
    </div>
  </div>
  <div class="masonry__iframe--background"></div>
</div>
<div>
<div class="masonry__newest" data-ng-if="!!sh.newest.posts.length" data-ng-click="sh.renderNewest()">
  Dodano nowych posów: {{ sh.newest.posts.length }}
</div>
</div>
<div class="masonry socialhub-isotope-directive">
  <article class="masonry__tile socialhub-isotope-tile-directive" data-ng-include="'views/socialhub/tile-' + post.source + '.html'" data-ng-repeat="post in sh.results.posts track by post._id">
  </article>
</div>
<div class="masonry__preloader" data-ng-if="!sh.complete.value">
  Wczytywanie postów...
</div>
