<div class="engagehub-iframe" data-ng-if="!!detail">
  <div class="engagehub-iframe--wrapper">
    <div class="engagehub-iframe--content"
         ng-style="{
        'font-family': sh.config.theme.descriptionFont,
        'background-color': sh.config.theme.cardBackgroundColor,
        color: sh.config.theme.descriptionColor
      }"
    >
      <div class="engagehub-iframe--navigation">
        <a href="" data-ng-click="closeModal()" class="engagehub-iframe--close">
        <span class="fa-stack fa-lg fa-stack-2x">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-times fa-stack-1x"></i>
        </span>
        </a>
      </div>
      <figcaption class="engagehub-tile--signature">
        <div class="engagehub-tile--signature-avatar">
          <img data-ng-src="{{ detail.user.avatar }}" alt="" class="img-responsive" />
          <span class="name"
                ng-bind-html="detail.user.name"
                ng-style="{
              'font-family': sh.config.theme.authorFont,
              'color': sh.config.theme.authorColor
            }"
          ></span>
          <span class="time" am-time-ago="detail.publish"></span>
        </div>
      </figcaption>
      <div class="engagehub-tile--fullimage" data-ng-if="detail.image || detail.video">
        <img data-ng-src="{{ detail.image }}" alt="" data-ng-if="!detail.video" class="img-responsive"/>
        <videogular data-ng-if="!!detail.video">
          <vg-video vg-src="detail.video"></vg-video>
          <vg-buffering></vg-buffering>
          <vg-controls vg-autohide="true" vg-autohide-time="1000">
            <vg-play-pause-button></vg-play-pause-button>
            <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
            <vg-scrubBar>
              <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
            </vg-scrubBar>
            <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
            <vg-timedisplay>{{ totalTime | date:'mm:ss' }}</vg-timedisplay>
            <vg-volume>
              <vg-mutebutton></vg-mutebutton>
              <vg-volumebar></vg-volumebar>
            </vg-volume>
            <vg-fullscreenButton></vg-fullscreenButton>
          </vg-controls>
          <vg-overlay-play></vg-overlay-play>
          <vg-poster-image vg-url="detail.image"></vg-poster-image>
        </videogular>
      </div>

      <a ng-if="detail.commerce"
        ng-href="detail.commerce.url"
        title="{{ detail.commerce.text }}"
        ng-style="{
          'color': sh.config.theme.buttonColor,
          'background-color': sh.config.theme.buttonBackgroundColor
        }"
        target="_blank" rel="nofollow"
        class="engagehub-commerce engagehub-commerce-iframe engagehub-button-background-color engagehub-button-color">
        {{ detail.commerce.text }}
      </a>
      <figcaption class="engagehub-tile--signature">
        <p class="engagehub-tile--signature-caption" ng-bind-html="detail.message"></p>
      </figcaption>
    </div>
  </div>
</div>
