<div class="engagehub-iframe" data-ng-if="!!detail">
  <div class="engagehub-iframe--wrapper">
    <div class="engagehub-iframe--row">
      <div class="engagehub-iframe--content engagehub-description-font-family clearfix"
         ng-style="{
        'font-family': sh.config.theme.descriptionFont,
        'background-color': sh.config.theme.cardBackgroundColor,
        color: sh.config.theme.descriptionColor
      }"
    >

      <div class="engagehub-iframe--fullimage" data-ng-if="detail.image || detail.video">

        <img data-ng-src="{{ detail.image }}" alt="" data-ng-if="!detail.video" class="img-responsive"/>
        <videogular ng-if="detail.video">
          <vg-media vg-src="detail.video"></vg-media>
          <vg-buffering></vg-buffering>
          <vg-controls vg-autohide="true" vg-autohide-time="1000">
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>

            <vg-fullscreen-button></vg-fullscreen-button>
          </vg-controls>
          <vg-overlay-play></vg-overlay-play>
          <vg-poster vg-url="detail.image"></vg-poster>
        </videogular>
      </div>

      <div class="engagehub-iframe--side-content">
        <div class="engagehub-iframe--navigation">
          <a href="" data-ng-click="closeModal()" class="engagehub-iframe--close">
        <span class="fa-stack fa-lg fa-stack-2x">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-times fa-stack-1x"></i>
        </span>
          </a>
        </div>

        <figcaption class="engagehub-iframe--signature">
          <div class="engagehub-tile--signature-avatar">
            <img data-ng-src="{{ detail.user.avatar }}" alt="" class="img-responsive" />
          <span class="name engagehub-author-font-family"
                ng-bind-html="detail.user.name"
                ng-style="{
                  'font-family': sh.config.theme.authorFont,
                  'color': sh.config.theme.authorColor
                }"
          ></span>
            <span class="time" am-time-ago="detail.publish"></span>
          </div>
        </figcaption>

        <a ng-if="detail.commerce"
           ng-href="{{ detail.commerce.url }}"
           title="{{ detail.commerce.text }}"
           ng-style="{
          'color': sh.config.theme.buttonColor,
          'background-color': sh.config.theme.buttonBackgroundColor
        }"
           target="_blank" rel="nofollow"
           class="engagehub-commerce engagehub-commerce-iframe engagehub-button-background-color engagehub-button-color">
          {{ detail.commerce.text }}
        </a>
        <figcaption class="engagehub-tile--signature">
          <p class="engagehub-tile--signature-caption" ng-bind-html="detail.message"></p>
        </figcaption>
      </div>
    </div>
    </div>
  </div>
</div>
