<div class="headline">
  <h4>Connections <span class="small btn btn-xs showAll" ng-click="keywordFilter.length = 0" ng-class="{filter: keywordFilter.length}">show all</span></h4>
</div>
<div class="aside__content">
  <div class="keywords">
    <div class="btn-group keyword"
      data-ng-repeat="keyword in sh.keywords track by keyword._id"
      data-ng-class="{
        'filter-active': keywordFilter.indexOf(keyword._id) !== -1 && keywordFilter.length,
        'filter-inactive': keywordFilter.indexOf(keyword._id) === -1 && keywordFilter.length
      }"
    >
      <span class="btn btn-sm btn-default btn-{{ keyword.channel }} bg keyword-icons">
        <i class="fa fa-{{ keyword.channel }} keyword-channel"></i>
        <i class="fa fa-remove keyword-remove" data-ng-confirm="removeKeyword(keyword)" data-ng-confirm-message="Are you sure you want to delete &quot;{{ keyword.value }}&quot; ?"></i>
      </span>
      <span class="btn btn-sm btn-default btn-{{ keyword.channel }} bg keyword-value"
        ng-click="keywordFilter.indexOf(keyword._id) === -1 ? keywordFilter.push(keyword._id) : keywordFilter.splice(keywordFilter.indexOf(keyword._id), 1)">
        {{ keyword.value }}
      </span>
      <span class="keyword-status" data-status="???" data-ng-if="false">
        <i class="fa fa-exclamation-circle text-danger"></i>
      </span>
    </div>
    <!-- Add new -->
    <div class="btn-group keyword add" data-ng-click="createNewTag(socialhub)">
      <span class="btn btn-sm btn-success bg">
        <i class="fa fa-plus"></i>
      </span>
      <span class="btn btn-sm btn-success bg">Add new connection</span>
    </div>
  </div>
</div>