<figure data-ng-click="openSocial(post)">
  <div class="masonry__tile--social" data-ng-class="'masonry__tile--social-'+ post.source">
    <i class="fa" data-ng-class="'fa-'+ post.source"></i>
  </div>
  <div class="masonry__tile--image" data-ng-show="post.images">
    <img data-ng-src="{{post.images.standard_resolution.url}}" alt="" />
    <span class="fa-stack fa-lg" data-ng-if="post.type=='video'">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-play fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <figcaption class="masonry__tile--signature">
    <div class="masonry__tile--signature-avatar">
      <img data-ng-src="{{post.user.profile_picture}}" alt="" />
      <span class="name" ng-bind-html="post.user.full_name | emoji"></span>
      <span class="time" am-time-ago="post.created_time"></span>
    </div>
    <p class="masonry__tile--signature-caption" ng-bind-html="post.caption | emoji"></p>
  </figcaption>
</figure>
