<figure data-ng-click="openSocial(post)">
  <div class="masonry__tile--social" data-ng-class="'masonry__tile--social-'+ post.source">
    <i class="fa" data-ng-class="'fa-'+ post.source"></i>
  </div>
  <div class="masonry__tile--image" data-ng-show="post.type=='photo' || post.type =='video'">
    <img data-ng-src="{{post.photo.source}}" data-ng-class="ratio( post.photo.width, post.photo.height )" alt="" data-ng-if="post.type=='photo'"/>
    <img data-ng-src="{{post.video.image}}" alt="" data-ng-if="post.type=='video'"/>
    <span class="fa-stack fa-lg" data-ng-if="post.type=='video'">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-play fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <figcaption class="masonry__tile--signature">
    <div class="masonry__tile--signature-avatar">
      <img data-ng-src="{{post.from.image}}" alt="" />
      <span class="name" ng-bind-html="post.from.name"></span>
      <span class="time" am-time-ago="post.created_time"></span>
    </div>
    <p class="masonry__tile--signature-caption">{{ post.message || post.description || post.caption || post.story }}</p>
  </figcaption>
</figure>
